.logo{
  width: 70px;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.storage{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.balance{
  font-weight: bold;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  height: 100%;
}
body{
  background: rgb(239,254,216);
background: linear-gradient(180deg, rgba(239,254,216,1) 0%, rgba(124,180,45,1) 100%);


}
.tree img{
  width: 80%;
}
.tree{
  display: flex;
  justify-content: space-around;
}